<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adjunct.Build" version="0.8.1" targetFramework="net461" />
  <package id="Adjunct.Generator" version="0.8.1" targetFramework="net461" />
  <package id="adjunct-Guard" version="2.0.0" targetFramework="net461" />
  <package id="adjunct-Guard.Tests" version="2.0.0" targetFramework="net461" />
  <package id="adjunct-System.DataStructures.AvlTree" version="2.0.0" targetFramework="net461" />
  <package id="adjunct-System.DataStructures.BinaryTreeBase" version="2.0.0" targetFramework="net461" />
  <package id="adjunct-System.DataStructures.FuncComparer" version="2.0.0" targetFramework="net461" />
  <package id="adjunct-System.IComparableExtensions" version="2.0.0" targetFramework="net461" />
  <package id="Finsa.CodeServices.Common" version="4.1.1" targetFramework="net461" />
  <package id="Hippie" version="2.10.1" targetFramework="net461" />
  <package id="Thrower" version="2.2.1" targetFramework="net461" />
  <package id="TreeLib" version="1.1.1" targetFramework="net461" />
  <package id="TreeLibInterface" version="1.1.1" targetFramework="net461" />
  <package id="Troschuetz.Random" version="4.0.3" targetFramework="net461" />
  <package id="xunit" version="1.8.0.1549" targetFramework="net461" />
</packages>